body {
  font-family: "Open Sans";
  background-color: #62319F;
  color: white; 
}

#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

.main-heading {
  text-align: center;
  margin-top: 8%;
  font-size: 3em;
  font-weight: 300;
}

.sub-heading {
  text-align: center;
  margin-top: -3%;
  font-weight: 200;
}

.list-heading {
  margin-top: 7%;
  text-align: center;

}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
