<div class="logInBody" id="signin">
  <form ng-submit="signin()">
    <div class="header">
       <p>Log into nestor</p>
    </div>
    <div class="description">
      <p>A crowdsourced thermostat</p>
    </div>
    <div class="input">
      <p><input type="text" class="button" id="email" name="username" placeholder="Username" ng-model="user.username"></p>
      <p><input type="password" class="button" id="email" name="password" placeholder="Password" ng-model="user.password"></p>
      <input type="submit" class="button" id="submit" value="LOG IN">
    </div>
    <a href="#/signup">Sign Up</a>
  </form>
</div>
